<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/boardStyle.css" type="text/css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
    $(document).ready(function () {
      $('.icon').click(function () {
        $('ul').toggleClass('show');
        $('.container').toggleClass('hide');
      })
    })
  </script>
</head>
<nav>
  <ul>
    <li><a href="/dashboard/bmi" class="nav--button">BMI / BMR</a></li>
    <li><a href="/dashboard/todo" class="nav--button">To Do List</a></li>
    <li><a href="/dashboard/user" class="nav--button">Profil Użytkownika</a></li>
    <li><a href="/dashboard/start" class="nav--button">Start</a></li>
    <li><a href="/users/logout" class="nav--button">Wyloguj się</a></li>
  </ul>
  <label class="icon">
    <i class="fas fa-bars"></i>
  </label>
</nav>

<body>
  <div class="container bmi--container">
    <div class="profile--box">
      <div class="link">
        <a href="/dashboard/start/dieta/nowaDieta" class="nav--button">Stwórz diete</a>
      </div>
      <% if(!user.dieta[1]){ %>
        
      <% } else if(user.dieta[7]){ %>
      <h2> Śniadanie:</h2>
      <h3>
        <li> <%= user.dieta[0] %> </li>
        <li> <%= user.dieta[1] %> </li>
      </h3>
      <h2> Drugie śniadanie:</h2>
      <h3>
        <li> <%= user.dieta[2] %> </li>
        <li> <%= user.dieta[3] %> </li>
      </h3>
      <h2> Obiad:</h2>
      <h3>
        <li> <%= user.dieta[4] %> </li>
        <li> <%= user.dieta[5] %> </li>
      </h3>
      <h2> Podwieczorek:</h2>
      <h3>
        <li> <%= user.dieta[6] %> </li>
        <li> <%= user.dieta[7] %> </li>
      </h3>
      <h2> Kolacja:</h2>
      <h3>
        <li> <%= user.dieta[8] %> </li>
        <li> <%= user.dieta[9] %> </li>
      </h3>
      <% } else { %>
        <h2> Śniadanie:</h2>
        <h3>
          <li> <%= user.dieta[0] %> </li>
          <li> <%= user.dieta[1] %> </li>
        </h3>
        <h2> Drugie śniadanie:</h2>
        <h3>
          <li> <%= user.dieta[2] %> </li>
          <li> <%= user.dieta[3] %> </li>
        </h3>
        <h2> Obiad:</h2>
        <h3>
          <li> <%= user.dieta[4] %> </li>
          <li> <%= user.dieta[5] %> </li>
        </h3>
        <h2> Kolacja:</h2>
        <h3>
          <li> <%= user.dieta[8] %> </li>
          <li> <%= user.dieta[9] %> </li>
        </h3>
      <% } %>



    </div>
  </div>
  </div>
</body>


</html>